/* color pallet
main blue: #1e90ff
secondary blue: #3742fa
main gray: #57606f
secondary gray: #f1f2f6
other: #2f3542
*/


body {
    background-color: #f8f9fa;
    font-family: 'Muli', sans-serif;
}
h2 {
    text-transform: uppercase;
    color: #2f3542;
}
hr {
    border-color: rgb(207, 207, 207);
    max-width: 100%;
}

.navbar {
    background-color: transparent;
    color: white;
}
.navbar.scrolled {
    background-color: #3742fa;
}

.navbar a {
    color: white;
}

#mainNavbar a:hover {
    color: rgba(255, 255, 255, 0.521);
}

/* Main header */
#showcase {
    background: url("../images/mountainBGimage3.png") bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
    margin-right: auto;
}
/* Cherry Blossoms Image Link: 'https://images.unsplash.com/photo-1522986949846-f63066ace3de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80'*/
/* #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */
#header {
    z-index: 2;
}
#toggleButton {
    color: white;
}
.btn {
    background-color: #3742fa;
    border-color: #3742fa;
}
#tagline {
    font-size: 1.2rem;
}
#helpText {
    color: rgb(207, 207, 207);
    font-size: 1rem;
}
#headerTextBg {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
/* #headline, #tagline, #helpText {
    background: black;
} */
/* New Services Section */
li {
    list-style-type: none;
}

#bulletPointBlocks {
    background:#343a40;
}
#tallImage {
    background: url('https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80') bottom center / cover no-repeat;
    min-height: 600px;
    position: relative;
}
#tallImageOverlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#tallImageText {
    line-height: 3rem;
    letter-spacing: .25rem;
    text-transform: uppercase;

}
@media (max-width: 1200px) {
    #tallImageText {
        font-size: 1rem;
        line-height: 3rem;
    }
}
#image2div {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* Small Our Approach Section*/
/* #ourApproachSmBg {
    background: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
} */
#ourApproach2 {
    background: white;
}
/* About section */

#aboutSection {
    background: #3742fa;
    font-family: 'Raleway', sans-serif;
}
#aboutSection ul {
    line-height: 2.5rem;
    font-size: 1.5rem; 
}
#aboutText {
    font-size: 1.75rem;
}

#servicesList ul {
    list-style-type: none;
}
/* Our Approach */
/* #approachBgImage {
    background: url("../images/corners.image.png") bottom center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} */

#ourApproach {
    background: white;
    margin-left: -20%;
    position: absolute;
}

/* Contact Section */
#contactForm .fas {
    font-size: 2.5rem;
    color: #3742fa;
}
/* Form Input Section */
#formInput {
    background: #f1f2f6;
    color: #3742fa;
}
#formSubmitButton {
    background: #343a40;
    border: white 1px solid;
    color: white;
}
#formSubmitButton:hover {
    background: white;
    border: #343a40 1px solid;
    color: #343a40;
}

/* Footer Section */
#dcSkyline {
    position: relative;
    max-width: 100%;
}
#footerSection {
    color: white;
    background: #343a40;
}
#footerSection a {
    color: white;
}
#footerSection a:hover {
    color: rgba(255, 255, 255, 0.521);
}
#copyright {
    font-size: .75rem;
}

/*About HTML Doc*/
#showcaseAbout {
    background: url('https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center center / cover no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
}
#overlayAbout {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#aboutJohn {
    background: white;
}
#wwaText {
    background: #3742fa;
    color: white;
}
#additionalAboutContainer {
    background: #343a40;
}
#focusText {
    font-size: 1.25rem;
    font-weight: .5rem;
}
#aboutBox {
        background: #3742fa;
        margin-top: -40px;
        z-index: 2;
        position: relative;
}
#focusContainer {
    background: white;
    /* margin-top: -40px;
    z-index: 2;
    position: relative; */
}
#aboutUsContainer {
    max-width: 100%;
}
#aboutPara {
    background: #3742fa;
    color: white;
    box-shadow: #343a40;
    font-size: 1.25rem;
    font-weight: .5rem;
    z-index: 2;
}
#aboutBg {
    background: #343a40;
    color: white;
}
#johnText {
    background: white;
    margin-left: -15%;
    margin-top: 15%;
    position: absolute;
}
#johnImgBg {
    background: #343a40;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: -10%;
    margin-top: -10%;
}
#ourTeamBg {
    height: auto;
    background: #343a40;
}

/* About Section - 3 Partners */
#bioContainer {
    background: #ffffff;
    border: #474747 solid 1.5px;
    border-radius: 2px;
}