body {
    background-color: #f8f9fa;
    font-family: 'Muli', sans-serif;
}
/* #jumbotron {
    background-color: #00d2d3;
    background-image: url('../images/honeycomb.bg3.png') no-repeat center;
    width: 100%;
    height: auto;
} */

.navbar {
    background-color: transparent;
    color: white;
}
.navbar.scrolled {
    background-color: #0b3577;
}

.navbar a {
    color: white;
}

#mainNavbar a:hover {
    color: rgba(255, 255, 255, 0.521);
}

/* Main Header */
#showcase {
    background: url('https://images.unsplash.com/photo-1522986949846-f63066ace3de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80') bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
}
#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#header {
    z-index: 2;
}
.btn-primary {
    background-color: #0b3577;
    border-color: #0b3577;
}

/* New Services Section */
#bulletPointBlocks {
    background:#343a40;
}
#tallImage {
    background: url('https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80') bottom center / cover no-repeat;
    min-height: 600px;
    position: relative;
}
#tallImageOverlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#tallImageText {
    line-height: 4rem;
    letter-spacing: rem;
}
#image2div {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* About section */

#aboutSection {
    background: #0b3577;
    font-family: 'Raleway', sans-serif;
}
#aboutSection ul {
    line-height: 2.5rem;
    font-size: 1.5rem; 
}
#aboutText {
    font-size: 1.75rem;
}

#servicesList ul {
    list-style-type: none;
}
/* Our Approach */
#ourApproach {
    background: white;
    margin-left: -20%;
    position: absolute;
}

/* Contact Section */
.fas {
    font-size: 2.5rem;
    color: #0b3577;
}

/* Footer Section */
#dcSkyline {
    position: relative;
    max-width: 100%;
}
#footerSection {
    color: white;
    background: #343a40;
}
#footerSection a {
    color: white;
}
#footerSection a:hover {
    color: rgba(255, 255, 255, 0.521);
}
#copyright {
    font-size: .75rem;
}